container_commands:
  01_migrate:
    command: "php artisan migrate --force"
    leader_only: true
  02_optimize:
    command: "php artisan optimize:clear"
    leader_only: true
  03_config_cache:
    command: "php artisan config:cache"
    leader_only: true
  04_route_cache:
    command: "php artisan route:cache"
    leader_only: true