# Đảm bảo thụt lề là 2 khoảng trắng cho mỗi cấp
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

files:
  "/etc/awslogs/config/laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Dòng dưới đây phải thụt vào 6 khoảng trắng
      [/var/app/current/storage/logs/laravel.log]
      log_group_name=/aws/elasticbeanstalk/${AWSEBEnvironmentName}/var/app/current/storage/logs/laravel.log
      log_stream_name={instance_id}
      file=/var/app/current/storage/logs/laravel.log*
      datetime_format=%Y-%m-%d %H:%M:%S
      multi_line_start_pattern=^\[\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\]

  "/etc/awslogs/config/web.stdout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Dòng dưới đây phải thụt vào 6 khoảng trắng
      [/var/log/web.stdout.log]
      log_group_name=/aws/elasticbeanstalk/${AWSEBEnvironmentName}/var/log/web.stdout.log
      log_stream_name={instance_id}
      file=/var/log/web.stdout.log*
      datetime_format=%Y-%m-%d %H:%M:%S
      multi_line_start_pattern=^\[\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\]

commands:
  "01_restart_awslogs":
    # Thử khởi động lại agent bằng tên chuẩn nhất trên Amazon Linux 2/2023
    command: "sudo systemctl restart awslogsd"
    ignoreErrors: true